@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
/* ------etiquetas base----- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

body {
  font-family: 'inter', sans-serif;
  height: 100%;
  min-height: 100%;
  width: 100%;
  background: #fff;
  color: #7E7E7E;
}

/* clases genéricas */
.fondoBeige {
  background: #E7D3B1;
  z-index: 1;
}

.fondoGris {
  background: #bdbdbd;
}

.blanco {
  color: #fff;
}

.blanco:hover {
  color: #fff;
}

.hovShake:hover {
  -webkit-animation: headShake;
          animation: headShake;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.fadeIn {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.textShad {
  text-shadow: 50px 5px 50px #000000;
}

/* ------ pie de pagina ------ */
footer a {
  font-size: 35px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 15px;
}

footer a:hover {
  color: #666;
  -webkit-transition: ease-in 500ms;
  transition: ease-in 500ms;
}

/* ------------------- Estilos contacto.html ------------------- */
/* ----- portada/cuerpo de contacto.html ----- */
main {
  min-height: 90%;
}

.portadaContacto {
  height: 680px;
  background-image: url("../img/contenedor2.png");
  background-position: center;
  background-repeat: no-repeat;
}

.portadaContacto h1 {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 4px;
  color: #666;
}

.portadaContacto .row {
  margin-left: 7%;
}

form {
  height: 480px;
}

form input {
  background: none;
  border: none;
  border-bottom: 2px solid #666;
  outline: none;
  color: #666;
}

form input::-webkit-input-placeholder {
  color: #fff;
}

form input:-ms-input-placeholder {
  color: #fff;
}

form input::-ms-input-placeholder {
  color: #fff;
}

form input::placeholder {
  color: #fff;
}

form select {
  background: none;
  border: 2px solid #666;
  outline: none;
  color: #666;
  width: 100%;
}

form select:hover {
  background: #ffffff4C;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
  color: #666;
}

form textarea {
  background: none;
  border: none;
  border-bottom: 2px solid #666;
  outline: none;
  color: #666;
}

form textarea::-webkit-input-placeholder {
  color: #fff;
}

form textarea:-ms-input-placeholder {
  color: #fff;
}

form textarea::-ms-input-placeholder {
  color: #fff;
}

form textarea::placeholder {
  color: #fff;
}

form textarea::-webkit-outer-spin-button, form textarea::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.enviar {
  width: 80%;
  border: 2px solid #666;
  color: #fff;
}

.enviar:hover {
  background: #ffffff4C;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
  color: #666;
}

@media screen and (min-width: 576px) {
  .portadaContacto {
    background-image: url("../img/contenedor2.png");
  }
  .portadaContacto .row {
    margin-left: 20%;
  }
  .portadaContacto h1 {
    font-size: 50px;
  }
}

@media screen and (min-width: 768px) {
  form select {
    width: 55%;
  }
  .enviar {
    width: 30%;
  }
  .portadaContacto .row {
    margin-left: 27%;
  }
}

@media screen and (min-width: 992px) {
  .portadaContacto {
    background-image: url("../img/contenedor1.png");
  }
  .portadaContacto .row {
    margin-left: 15%;
  }
}

@media screen and (min-width: 1200px) {
  .portadaContacto .row {
    margin-left: 22%;
  }
}

@media screen and (min-width: 1400px) {
  .portadaContacto .row {
    margin-left: 28%;
  }
}
/*# sourceMappingURL=estilos.css.map */